*{
    margin: 0;
    padding: 0;
}
html,body{
    background-image: url(/img/low_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* header */
.header{
    padding: 8px 0;
    background-color: rgb(112, 102, 102);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li{
    list-style: none;
    margin: 14px;
}
.navbar li a{
    text-decoration: none;
    padding: 0 10px;
    color: goldenrod;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}
#search-bar{
    width: 300px;
    padding: 6px 0;
    border-radius: 5px;
    text-align: center;
    border: none;
    font-size: 16px;
}



/* catagory */
.catagory{
    margin-top: 40px;
}
.catagory h1{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: rgb(58, 85, 76);
}
.catagory_data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.catagory-img{
    margin: 12px 25px;
}
.catagory-img img{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    transition: 0.2s;
}
.catagory-img img:hover{
    transform:scale(1.1);
}
.catagory-img h4{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: rgb(141, 140, 140);
}